<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WheelDeal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WheelDeal.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/logreg.css" asp-append-version="true" />
    <link rel="shortcut icon" href="/images/logo.png" type="image/png">
    <asp:ScriptManager ID="asm" runat="server" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid" style="padding: 0 14%">
                <img src="/images/logo.png" style="width: 32px; aspect-ratio: 1/1;" alt="logo"/>
                <a class="navbar-brand" style="align-self: center; padding: 1% 0; margin: 0 4% 0 5px;" asp-area="" asp-controller="Home" asp-action="Index">WheelDeal</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <div>
                                <a class="nav-link text-dark" id="home" asp-area="" asp-controller="Home" asp-action="AutoPark">AutoPark</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div>
                                <a class="nav-link text-dark" id="countries" asp-area="" asp-controller="Home" asp-action="Countries">Countries</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div>
                                <a class="nav-link text-dark" id="click-to-hide">Login/Registration</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="menu">
                        <li>
                            <a href="#">Parent Link</a>
                            <ul>
                                <li><a href="#">Личный кабинет</a></li>
                                <li><a href="#">Корзина</a></li>
                                <li><a href="#">Настройки</a></li>
                                <li><a href="#" style="color: red">Выход с аккаунта</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        @await Html.PartialAsync("LogReg")
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-left">
            <div class="logo">WheelDeal</div>
            <p style="margin-left: 0">
                Надежный партнер в ваших путешествиях. Аренда авто с комфортом и гарантией качества. <br/>
                Просим связаться с нами, если возникли какие-то вопросы: + 373 (775) 0-42-86
            </p>
            <div class="footer-WheelDeal">
                &copy; 2024 - OOO «KISLOMOLO4NIY» - WheelDeal
            </div>
        </div>

        <div class="footer-right">
            <a href="#home">Главная</a>
            <a href="#contact">Контакты</a>
            <a href="#countries">Страны</a>
            <a href="#services">Услуги</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dropdownList.js" asp-append-version="true"></script>
    <script src="~/js/logreg.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
