@{
    ViewData["Title"] = "Home Page";
}

<section class="section-body">
    <section class="main-section">
        <div style="width: 75%; align-content: center;">
            <h1 class="main">СЕРВИС<br>БРОНИРОВАНИЯ<br>АВТОМОБИЛЕЙ</h1>
        </div>
        <div class="main-item">
            <h4>Качество</h4>
            <p>самые качественные бла бла и тд. и т.п.</p>
            <img src="/images/header1.jpg" alt="Заголовок1" style="width: 100%; aspect-ratio: 3/4; border-radius: 15px;"/>
        </div>
        <div class="main-item" id="second-main-item">
            <h4>Надёжность</h4>
            <p style="line-height: 0.9;">самые надёжные ага да и тд. и т.п. самые надёжные ага да и тд. и т.п. </p>
            <img src="/images/header2.jpeg" alt="Заголовок2" style="width: 100%; aspect-ratio: 3/4; border-radius: 15px;"/>
        </div>
    </section>

    <section id="about" class="section glow" style="background-color: white">
        <img src="images/smoke_orb2.gif" alt="smoke-orb" class="smoke-orb"/>
        <div class="container">
            <h1>Ваши путешествия – наша забота.</h1>
            <p class="p2">
                Мы делаем все возможное, чтобы сделать ваш опыт максимально комфортным.
            </p>
            <img src="/images/about.jpg" class="section-image" alt="О нас"/>
            <h3 style="text-align: center; align-self: center">Наша команда</h3>
            <div class="carousel-container">
                <div class="carousel_items">
                    <div class="carousel_item" style="margin-left: 20px">
                        <img src="./images/avatars/ker.jpg"/>
                        <p class="carousel_text">Image 1</p>
                    </div>
                    <div class="carousel_item">
                        <img src="./images/avatars/yar.jpg"/>
                        <p class="carousel_text">Image 2</p>
                    </div>
                    <div class="carousel_item">
                        <img src="./images/avatars/van.jpg"/>
                        <p class="carousel_text">Image 3</p>
                    </div>
                    <div class="carousel_item">
                        <img src="./images/avatars/ser.jpg"/>
                        <p class="carousel_text">Image 4</p>
                    </div>
                    <div class="carousel_item">
                        <img src="./images/avatars/den.jpg"/>
                        <p class="carousel_text">Image 5</p>
                    </div>
                    <div class="carousel_item">
                        <img src="./images/avatars/il.jpg"/>
                        <p class="carousel_text">Image 6</p>
                    </div>
                    <div class="carousel_item">
                        <img src="./images/avatars/san.jpg"/>
                        <p class="carousel_text">Image 7</p>
                    </div>
                    <div class="carousel_item">
                        <img src="./images/avatars/vla.jpg"/>
                        <p class="carousel_text">Image 8</p>
                    </div>
                    <div class="carousel_item">
                        <img src="./images/avatars/ksu.jpg"/>
                        <p class="carousel_text">Image 9</p>
                    </div>
                    <div class="carousel_item">
                        <img src="./images/avatars/kris.jpg"/>
                        <p class="carousel_text">Image 10</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="popular" class="section glow" style="background-color: #e2ddff">
        <div class="container">
            <h1>Популярные модели</h1>
            <div class="popular">
                <div class="popularItem">
                    <img src="/images/mazda626.jpg" class="popular-image"/>
                    <h3>Mazda 626 (1994)</h3>
                    <p>dadada</p>
                </div>
                <div class="popularItem">
                    <img src="/images/hondaAccord.jpeg" class="popular-image"/>
                    <h3>Honda Accord</h3>
                    <p>Блаблаблабла блаблаблаблабла блаблаблабла</p>
                </div>
                <div class="popularItem">
                    <img src="/images/opelAstra.jpg" class="popular-image"/>
                    <h3>Opel Astra</h3>
                    <p>Блаблабла блаблабла блаблаблаблабла блаблабла блабла</p>
                </div>
                <div class="popularItem">
                    <img src="/images/opelAstra.jpg" class="popular-image"/>
                    <h3>Opel Astra</h3>
                    <p>Блаблабла блаблабла блаблаблаблабла блаблабла блабла</p>
                </div>
                <div class="popularItem">
                    <img src="/images/opelAstra.jpg" class="popular-image"/>
                    <h3>Opel Astra</h3>
                    <p>Блаблабла блаблабла блаблаблаблабла блаблабла блабла</p>
                </div>
                <div class="popularItem">
                    <img src="/images/opelAstra.jpg" class="popular-image"/>
                    <h3>Opel Astra</h3>
                    <p>Блаблабла блаблабла блаблаблаблабла блаблабла блабла</p>
                </div>
                <div class="popularItem">
                    <img src="/images/opelAstra.jpg" class="popular-image"/>
                    <h3>Opel Astra</h3>
                    <p>Блаблабла блаблабла блаблаблаблабла блаблабла блабла</p>
                </div>
                <div class="popularItem">
                    <img src="/images/opelAstra.jpg" class="popular-image"/>
                    <h3>Opel Astra</h3>
                    <p>Блаблабла блаблабла блаблаблаблабла блаблабла блабла</p>
                </div>
            </div>
        </div>
    </section>

    <section id="service" class="section glow" style="background-color: white">
        <div class="container">
            <h1>Услуги</h1>
            <p class="p2">
                Надежный транспорт для ваших путешествий
            </p>
            <div class="section-side">
                <div class="section-left">
                    <p>
                        Мы гарантируем, что каждый автомобиль в нашем автопарке находится в отличном техническом состоянии. Арендуя у нас, вы можете быть уверены в безопасности и комфорте вашей поездки.
                    </p>
                </div>
                <div class="section-right">
                    <img src="images/carTech.jpg"/>
                </div>
            </div>
            <img src="/images/service.jpg" class="section-image" alt="Услуги"/>
            <div class="service">
                <div class="serviceItem">
                    <img src="/images/service1.png" class="service-image" alt="Выбор моделей"/>
                    <h3>Большой выбор моделей</h3>
                    <p>Легковые автомобили, внедорожники, минивэны</p>
                </div>
                <div class="serviceItem">
                    <img src="/images/service2.png" class="service-image" alt="Ремонт"/>
                    <h3>Регулярное техническое обслуживание</h3>
                    <p>Все автомобили проходят тщательную проверку перед каждой арендой</p>
                </div>
                <div class="serviceItem">
                    <img src="/images/service3.png" class="service-image" alt="Страховка"/>
                    <h3>Страхование</h3>
                    <p>Мы предлагаем различные страховые пакеты для вашей безопасности</p>
                </div>
            </div>
        </div>
    </section>

    <section id="contacts" class="section glow" style="background-color: #e2ddff">
        <div class="container">
            <h1>Контакты</h1>
            <div class="contacts">
                <div class="contactsItem" href="https://t.me/keefiremgmt">
                    <img src="/images/tg.png" class="contacts-image" alt="Телеграм"/>
                    <h3>TELEGRAM</h3>
                </div>
                <div class="contactsItem" href="https://www.instagram.com/_keefire_/">
                    <img src="/images/inst.png" class="contacts-image" alt="Инстаграм"/>
                    <h3>INSTAGRAM</h3>
                </div>
                <div class="contactsItem" href="mailto:foksakirill@gmail.com">
                    <img src="/images/gmail.png" class="contacts-image" alt="Почта"/>
                    <h3>G-MAIL</h3>
                </div>
                <div class="contactsItem" href="https://vk.com/keefire">
                    <img src="/images/vk.png" class="contacts-image" alt="Телефон"/>
                    <h3>VK</h3>
                </div>
            </div>
        </div>
    </section>
</section>