input[type='submit'], button, [aria-label] {
  cursor: pointer;
}

@font-face {
  font-family: 'Montserratus';
  src: url('../fonts/Montserrats/Montserrat-ExtraBold.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#editForm {
  display: none;
}

a {
  color: white;
}

table {
  font-family: Arial, sans-serif;
  border: 1px solid;
  border-collapse: collapse;
}

th {
  padding: 5px;
  background-color: #f8f8f8;
}

td {
  border: 1px solid;
  padding: 5px;
}

body {
  background-color: #141315;
  color: white;
}
#smoke-orb {
  background-image: url('../images/smoke_orb.gif');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100% auto;
  scroll-behavior: smooth;
  backdrop-filter: blur(10px);
  z-index: -1;
}

.main {
  font-family: Montserratus, sans-serif;
  transform: scale(.8,1);
  width: 500px;
  font-size: 64pt;
  margin-top: 35px;
  margin-bottom: 35px;
  justify-content: center;
  text-align: left;
  margin-left: -5%;
}

.main-section {
  background-size: cover;
  display: flex; 
  flex-direction: row; 
  align-content: center; 
  margin-bottom: 5%; 
  margin-top: 5%;
}

.main-item {
  width: 20%;
  height: 20%;
  margin: 15px;
  padding: 15px 10px 10px 10px;
  border-radius: 20px;
  color: black;
  background-color: white;
}

.main-gif {
  width: 100%;
  height: 100%;
  align-self: center;
  z-index: -1;
}

#second-main-item {
  margin-top: 16%;
  margin-left: -8%;
}

.sectionF {
  border-radius: 50px;
  padding: 2rem;
  background-color: white;
  color: black;
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.3);
  filter: blur(25%);
  margin-bottom: 15px;
  z-index: -1;
}

.sectionS {
  border-radius: 50px;
  padding: 2rem;
  background-color: #e2ddff;
  color: black;
  box-shadow: 0 0 200px rgba(226, 221, 255, 0.3);
  filter: blur(25%);
  margin-bottom: 15px;
  z-index: -1;
}

.section-image {
  width: 100%;
  border-radius: 25px;
  margin-bottom: 15px;
  box-shadow: 2px 2px 5px gray;
}

.service {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.serviceItem {
  width: 33%;
  aspect-ratio: 4/3;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 25px;
  margin-top: 10px;
  background-color: #e2ddff; //#f0efed
}

.service-image {
  width: 30%;
  aspect-ratio: 1/1;
  margin-bottom: 15px;
  margin-top: 5px;
}

.contacts {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.contactsItem {
  width: 24.5%;
  aspect-ratio: 2/1;
  padding: 10px;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 25px;
  margin-top: 10px;
  background-color: #9710e0;
  color: white;
}

.contacts-image {
  width: 30%;
  aspect-ratio: 1/1;
  margin: 15px;
}

.popular {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
}

.popularItem {
  width: 19%;
  aspect-ratio: 3/4;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 25px;
  margin-top: 15px;
  background-color: black;
  color: white;
}

.logreg {
  width: 35%;
  padding: 25px;
  aspect-ratio: 3/1;
  background-color: #9710e0;

  /*box-shadow: 0 0 200px rgba(255, 255, 255, 0.3);*/
  box-shadow: 0 0 200px rgba(151, 16, 224, 0.8);
  z-index: -1;
}

.full {
  display: flex;
  flex: 1;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 85vh;
}

input {
  text-align: center;
  width: 85%;
  aspect-ratio: 10/1;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 10px;
  border-color: white;
  background-color: #7c0eb8;
}